beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
DateTime==4.3
et-xmlfile==1.0.1
Flask==1.0.2
get==2018.11.19
idna==2.8
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10
MarkupSafe==1.1.1
mpmath==1.0.0
openpyxl==2.6.0
post==2018.11.20
public==2018.11.20
PyMySQL==0.9.3
pytz==2018.9
query-string==2018.11.20
request==2018.11.20
requests==2.22.0
soupsieve==1.8
sympy==1.1.1
urllib3==1.25.7
Werkzeug==0.14.1
zope.interface==4.6.0

